.AndroidStudio3.2/
.Xauthority
.android/
.bash_history
.bashburnrc
.bashrc_private
.cache/
.config/Qt/
.config/QtProject.conf
.config/QtProject/
.config/Synergy/
.config/cef_user_data/
.config/chromium/
.config/cmus/
.config/dconf/
.config/gtk-2.0/
.config/htop/
.config/i3/
.config/kritadisplayrc
.config/kritarc
.config/mimeapps.list
.config/monitors.xml
.config/obs-studio/
.config/pavucontrol.ini
.config/polybar/
.config/pulse/
.config/qxkb.cfg
.config/qxkb.pid
.config/user-dirs.dirs
.config/user-dirs.locale
.config/ranger/history
.config/ranger/bookmarks
.gitconfig
.gnupg/
.i3/bar/
.install4j
.java/
.lesshst
.lftp/
.local/
.mysql_history
.ncpamixer.conf
.pki/
.profile
.rtorrent.rc
.ssh/
.steam/
.steampath
.steampid
.trash/
.vim/
.viminfo
.viminfo.tmp
.viminfy.tmp
.viminfz.tmp
.wget-hsts
.wine/
.xinitrc
.xmodmaprc
Android/
Books/
Documents/
Dota 2.desktop
Downloads/
Factorio/
Github/
Music/
Programming/
Qt/
WebPages/
audio.mp3
notes.txt
packer/
saves/
steam.desktop
texput.log
