.AndroidStudio3.2/
.Xauthority
.Xdefaults
.Xdefaults.urxvt
.android/
.bash_history
.bashburnrc
.bashrc_private
.cache/
.config/
.fehbg
.gitconfig
.gitignore
.gnupg/
.i3/
.inputrc
.install4j
.java/
.lesshst
.lftp/
.local/
.mysql_history
.ncpamixer.conf
.pki/
.profile
.rtorrent.rc
.ssh/
.steam/
.steampath
.steampid
.trash/
.vim/
.viminfo
.viminfo.tmp
.viminfy.tmp
.viminfz.tmp
.vimrc
.wget-hsts
.wine/
.xinitrc
.xmodmaprc
Android/
Books/
Documents/
Dota 2.desktop
Downloads/
Factorio/
Github/
Music/
Programming/AI/
Programming/C++/
Programming/GameEngines/
Programming/GitHub/Mine/ProracunOsvetljenjaUlica/
Programming/GitHub/Mine/ResistorColorCodeQt/
Programming/GitHub/Mine/SFulx/
Programming/GitHub/Mine/SnakeInSFlux/
Programming/GitHub/Mine/SpreadsheetToLaTeXBak/
Programming/GitHub/Mine/build-ResistorColorCode-Android_for_arm64_v8a_Clang_Qt_5_12_4_android_arm64_v8a-Release/
Programming/GitHub/Mine/build-ResistorColorCode-Android_for_armeabi_v7a_Clang_Qt_5_12_4_android_armv7-Release/
Programming/GitHub/Mine/build-ResistorColorCode-Android_for_x86_Clang_Qt_5_12_4_android_x86-Release/
Programming/GitHub/OtherPeople/
Programming/Gtk/
Programming/ImportantProject/
Programming/Java/
Programming/OpenGl/
Programming/Python/
Programming/SFML/
Programming/SQL/
Programming/WEB/
Programming/linux/
Programming/lua/
Qt/
Wallpapers/
WebPages/
audio.mp3
bin/
notes.txt
packer/
saves/
steam.desktop
texput.log
