.AndroidStudio3.2/
.Xauthority
.android/
.bash_history
.bashburnrc
.bashrc_private
.cache/
.gitconfig
.gitignore
.gnupg/
.install4j
.java/
.lesshst
.lftp/
.local/
.mysql_history
.ncpamixer.conf
.pki/
.profile
.rtorrent.rc
.ssh/
.steam/
.steampath
.steampid
.trash/
.vim/
.viminfo
.viminfo.tmp
.viminfy.tmp
.viminfz.tmp
.wget-hsts
.wine/
.xinitrc
.xmodmaprc
Android/
Books/
Documents/
Dota 2.desktop
Downloads/
Factorio/
Github/
Music/
Programming/
Qt/
WebPages/
audio.mp3
bin/
notes.txt
packer/
saves/
steam.desktop
texput.log
.config/
.i3/bar/
